body {
	background-image: url('./img/Background.gif');
}

#drawcanvas {
    image-rendering: -webkit-optimize-contrast;
}

#drawcanvas.paint {
    cursor: url('./img/Paint.cur'), crosshair;	
}

#drawcanvas.fill {
    cursor: url('./img/FillBucket.cur') 2 32,crosshair;	
}

#drawcanvas.inkdropper {
    cursor: url('./img/InkDropper.cur') 0 32, crosshair;	
}

