body {
	background-image: url('./img/Background.gif');
}

#drawcanvas {
    image-rendering: -webkit-optimize-contrast;
	float: left;
}

#drawcanvas.paint {
    cursor: url('./img/Paint.cur'), crosshair;	
}

#drawcanvas.fill {
    cursor: url('./img/FillBucket.cur') 2 32,crosshair;	
}

#drawcanvas.inkdropper {
    cursor: url('./img/InkDropper.cur') 0 32, crosshair;	
}

.hidden { display: none; }	


#drawcanvas {
	border: 2px solid #9A9A9A;
}

#drawcanvas:focus {
	outline: none;
	border-color: #333333;
}

#drawcanvas.drag {
	border-color: #2F9DB9;
}